<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Movie Name' %>
  </div>
  <div class="form-group">
    <%= f.collection_select :genre_id, @genres, :id, :name, {:include_blank => 'Select a genre'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.collection_select :actor_id, @actors, :id, :name, {:include_blank => 'Select an Actor'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.text_field :image, class: 'form-control', placeholder: 'Link to Movie Poster' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>

