<p id="notice"><%= notice %></p>

<h1>All Movies</h1>

<p>
  <%= link_to new_movie_path do %>
    <i class="glyphicon glyphicon-plus"> Add</i>
  <% end %>
</p>

<div class="row">
    <% @movies.each do |movie| %>
       <div class="col-md-6">
          <div class="well">
            <h1><%= link_to movie.name, movie %></h1>
            <h4><%= movie.genre.name %></h4>
            <h4><%= link_to movie.actor.name %></h4>
            <p><%= movie.image %></p>

            <p>
              <%= link_to edit_movie_path(movie) do %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <%= link_to movie, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </p>
          </div>
      </div>
    <% end %>
</div>

